<%- include('./partials/head.ejs') %>
<title>Signin</title>
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h1 class="text-center">Sign Up</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Pass</label>
                    <input type="password" class="form-control" id="exampleInputEmail2" name="password">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
            <div class="col-md-12 text-center">
            <p>Already A User?</p>
            <a href="/signin">signin</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>